
.admin-content h2,
.admin-content p {
  text-align: center;
}

.admin-content {
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;   
}

.profile-card {
   width: 100%;
  max-width: 520px;
  background: white;
  padding: 25px;
  border-radius: 16px;
  box-shadow: 0 12px 25px rgba(0, 0, 0, 0.08);
  margin-top: 20px;
}

.profile-row {
  display: flex;
  justify-content: space-between;
  padding: 14px 0;
  border-bottom: 1px solid #eee;
  font-size: 16px;
}

.profile-row:last-child {
  border-bottom: none;
}

.profile-row span {
  color: #555;
}

.profile-row strong {
  color: #020617;
}
